/* testing  new stuf */
.box.active {
	margin-top: 0px;
	border-bottom-left-radius: 0%;
	border-bottom-right-radius: 0%;
	border-top-right-radius: 15px;
	min-width: 100%;
	box-shadow: 0px 6px 6px 2px rgba(0, 0, 0, 0.7);
	margin-left: 0px;
	z-index: 1;
	position: relative;
	margin: 0px;
	padding: 0px;
	border: 0px;
	display: flex;
	height: auto;
}
.box.active img {
	display: none;
}
.price {
	padding-top: 1rem;
	font-size: 1.2rem;
	color: #bababa;
	margin-top: 5px;
	padding-left: 1.5rem;
}

.grid {
	background-color: transparent;
	max-width: 96vw;
	border-radius: 15px;
	margin: 2rem auto;
	display: none;
	flex-wrap: wrap;
	animation: slide 0.5s ease-in-out forwards;
}
.grid.active {
	display: flex;
}
.grid > div.hidden {
	display: none;
}

/* INSTRUMENT PICTURE SLIDE*/
.instrument-picture-container {
	display: none;
	align-items: center;
	justify-content: center;
	max-width: 100%;
	position: relative;
}

.instrumnet-image-slider {
	box-shadow: 0px 6px 6px 2px rgba(0, 0, 0, 0.4);
	height: 30vh;
	overflow: hidden;

	border-bottom-right-radius: 15px;
	border-bottom-left-radius: 15px;
	border-top-right-radius: 0px;
}
.image-slider-container {
	display: flex;
	overflow: hidden;
	flex-direction: column;
	transform: translateY(0);
	transition: transform 0.5s ease-in-out;
}
.image-slider-container img {
	height: 30vh;
	object-fit: fill;
}

.slider-buttons:hover {
	color: #a3a3a3;
}
.slider-buttons:focus {
	outline: none;
}

.fa-arrow-up {
	position: absolute;
	top: 2%;
	z-index: 100;
	background-color: rgba(51, 51, 51, 0.8);
	color: rgb(255, 255, 255);
	border: none;
	cursor: pointer;
	font-size: 1rem;
	padding: 0.4rem;
	outline: none;
	left: 0rem;
	border-bottom-right-radius: 6px;
	border-top-right-radius: 6px;
}
