* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
/* declaring an accent color */
:root {
  --accent-color: #000000;
  --second-accent-color: #bababa;
}

body {
  font-family: Roboto, sans-serif;
  color: rgb(255, 255, 255);
  bottom: 0rem;
  right: 0rem;
  background-color: #333;
  margin: 0;
  display: flex;
}
html {
  background-color: #333;
}
button,
button:hover,
button:focus {
  border: none;
  outline: none;
  cursor: pointer;
}

/* intro */

/* ! slide comented for ease of testing */
.container-intro {
  position: fixed;
  display: flex;
  max-width: 100%;
  max-height: 100vh;
  z-index: 400;
}
.intro-background {
  background-color: black;
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  justify-content: center;
  align-items: center;
  animation: slideUp 2.4s ease-in forwards;
  position: fixed;
}
@keyframes slideUp {
  0% {
    top: 0px;
  }
  50% {
    transform: translateY(0);
  }
  75% {
    transform: translateY(-100vh);
  }

  100% {
    transform: translateY(-550vh);
  }
}

.intro-pic {
  height: auto;
  width: 40vw;
  height: auto;
  margin: auto;
  animation: fadein 1s ease-in forwards;
  z-index: 500;
  position: fixed;
}
@keyframes fadein {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.slider-background {
  background-color: #bebebe;
  display: flex;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  justify-content: center;
  position: fixed;
  animation: slideUp 2.4s ease-in forwards;
  animation-delay: 0.3s;
}
.intro-pic .slider {
  width: 40vw;
  bottom: 0;
  left: 0;

  position: fixed;
}
@keyframes slideUpSlide {
  0% {
    transform: translateY(100vh);
  }
  40% {
    transform: translateY(10vh);
  }

  100% {
    transform: translateY(-500vh);
  }
}
/* Split Landing page */
.landingPage-container {
  position: fixed;
  width: 100vw;
  height: 100vh;
  background: transparent;
  z-index: 100;
  overflow: hidden;
}
@keyframes hideLandingContainer {
  0% {
    top: 0px;
  }
  70% {
    top: 0;
  }

  100% {
    top: -1000%;
  }
}

.split h1 {
  font-family: 'Bebas Neue';
  font-size: 3vw;
  color: #bababa;
  position: absolute;
  left: 50%;
  top: 20%;
  transform: translateX(-50%);
  white-space: nowrap;
}
.landingPage-container button {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  left: 50%;
  top: 40%;
  transform: translateX(-50%);
  background-color: rgba(36, 36, 36, 0.6);
  border-radius: 15px;
  border: none;
  font-size: 0.8rem;

  padding: 1.5rem;
  cursor: pointer;
}
.landingPage-container button a {
  text-decoration: none;
  color: #bababa;
  font-weight: bolder;
}
.btn-split-left:hover {
  background-color: rgba(127, 171, 117, 0.4);
}
.btn-split-right:hover {
  background-color: rgba(109, 36, 7, 0.6);
}
.btn-split-left:focus {
  background-color: rgba(127, 171, 117, 0.6);
}
.btn-split-right:focus {
  background-color: rgba(143, 67, 15, 0.6);
}

.split {
  position: absolute;
  width: 50%;
  height: 100%;
  overflow: hidden;
}
.split.left {
  left: 0;
  background-image: url(../resources/splitLandingPage/landingPage-Left.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}
@keyframes leftHide {
  0% {
    left: 0px;
  }
  100% {
    left: -100%;
  }
}
.hover-left .left {
  box-shadow: 6px 0px 5px rgba(0, 0, 0, 0.6);
  width: 65%;
  z-index: 101;
}
.hover-left .right {
  width: 35%;
}
.split.right {
  right: 0;
  background-image: url(../resources/splitLandingPage/landingPage-Right.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  box-shadow: -6px 0 5px rgba(0, 0, 0, 0.6);
}
@keyframes rightHide {
  0% {
    right: 0px;
  }
  100% {
    right: -100%;
  }
}

.hover-right .right {
  box-shadow: -6px 0 5px rgba(0, 0, 0, 0.6);
  width: 65%;
  z-index: 101;
}
.hover-right .left {
  width: 35%;
}
.split.right,
.split.left,
.split.right:before,
.split.left:before {
  transition: width 0.8s ease-in-out;
}
/* pagina */
.container {
  top: 0%;
  position: absolute;
  background-color: #333;
  width: 100vw;
  min-height: 100%;
  z-index: 3;
}

/* Nav bar */

.nav-container {
  position: fixed;
  background-color: rgba(0, 0, 0, 0.8);
  top: 0;
  left: 0;
  right: 0;
  padding: 0;
  z-index: 300;
}

.nav-container .logo {
  position: relative;
  /* margin-top: 0.3rem; */
  left: 3rem;
}

.nav-bar {
  max-width: 100vw;
  margin: 0 auto;
  position: relative;
  box-shadow: 0px 6px 6px 2px rgba(0, 0, 0, 0.4);
}
.nav-bar button {
  position: absolute;
  top: 1rem;
  right: 1rem;
  background: transparent;
  border: 0;
  font-size: 1.5rem;
  color: white;
  cursor: pointer;
}
.nav-bar button:hover {
  color: var(--second-accent-color);
  background-color: transparent;
  outline: none;
}
.nav-bar button:focus {
  color: var(--second-accent-color);
  background-color: transparent;
  outline: none;
}

.nav {
  position: fixed;
  top: 0rem;
  right: 0;
  height: 100vh;
  transform: translateX(100vw);
  transition: transform 0.2s ease-in-out;
  float: right;
  z-index: 40;
}
.nav.visible {
  transform: translateX(0vw);
}
.nav-white {
  background-color: #bebebe;
  width: 350px;
  transition-delay: 0.4s;
  box-shadow: -6px 0 4px rgba(0, 0, 0, 0.6);
}
.nav-white.visible {
  transition-delay: 0s;
}
.nav-gray {
  background-color: rgb(82, 82, 82);
  width: 330px;
  transition-delay: 0.2s;
  box-shadow: -4px 0 2px rgba(0, 0, 0, 0.6);
  z-index: 1;
}
.nav-gray.visible {
  transition-delay: 0.2s;
}
.nav-background {
  background-image: url(../resources/nav-background/black-texture-954.jpg);
  /* background-color: rgb(24, 24, 24); */
  background-size: cover;
  background-repeat: repeat-x;
  background-position: center;
  width: 315px;
  padding: 40px;
  position: relative;
  transition-delay: 0s;
  box-shadow: -4px 0 2px rgba(0, 0, 0, 0.6);
  z-index: 2;
}
.nav-background.visible {
  transition-delay: 0.4s;
}
.filter-tab {
  background-color: rgb(37, 37, 37);
  margin-top: auto;
  height: 100vh;
  right: 350px;
  margin: 0;
  width: 350px;
  box-shadow: -4px 0 2px rgba(31, 31, 31, 0.6);
  transform: translateX(100vw);
  transition: transform 0.7s ease-in-out;
  padding: 3rem;
  color: rgb(231, 231, 231);
  font-style: normal;
  position: fixed;
}
.filter-tab h3 {
  color: var(--second-accent-color);
}
.filter-tab.visible {
  transform: translateX(0px) !important;
  z-index: 5;
}

.checkbox-container {
  display: block;
  position: relative;
  margin-top: 1rem;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 1rem;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.checkbox-container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}
.checkbox-container input:checked ~ .checkmark:after {
  display: block;
}
.checkmark:after {
  content: '';
  position: absolute;
  display: none;
}
.checkbox-container:hover {
  /* color: white; */
  color: var(--second-accent-color);
}

.checkbox-container .checkmark:after {
  left: 9px;
  top: 5px;
  width: 5px;
  height: 10px;
  border: solid var(--second-accent-color);
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

.search-btn {
  float: right;
  width: 20%;
  padding: 10px;
  margin: 2rem;
  margin-right: 0px;
  background: var(--accent-color);
  border-radius: 50px;
  color: rgb(255, 255, 255);
  font-size: 17px;
  border: none;
  cursor: pointer;
}
.search-btn:hover {
  /* background-color: rgb(60, 60, 60); */
  background-color: var(--second-accent-color);
}
.see-instruments {
  position: absolute;
  bottom: 3rem;
  cursor: pointer;
}
.see-instruments:hover {
  /* color: white; */
  color: var(--second-accent-color);
}
/* all repairable instruments */
.repair-instruments-container {
  display: flex;
}
.repair-instr-column {
  float: right;
  list-style: none;
  line-height: 2rem;
  cursor: pointer;
  width: 280px;

  height: 100%;
  transform: translateX(100vw);
  transition: transform 0.7s ease-in-out;
  padding: 0 2em;
  background-color: rgb(24, 24, 24);
  position: fixed;
  box-shadow: -4px 0 2px rgba(31, 31, 31, 0.6);
  box-shadow: -12px -1px 9px -1px rgba(0, 0, 0, 0.4);
  top: 0;
}
.repair-instr-column.first.visible {
  right: 350px;
  background-color: rgb(24, 24, 24);
  z-index: 7;
  transform: translateX(0vw);
}
.repair-instr-column.second.visible {
  background-color: rgb(35, 35, 35);
  right: 630px;
  z-index: 5;
  transform: translateX(0vw);
  transition-delay: 0.2s;
}
.repair-instr-column.third.visible {
  background-color: rgb(45, 45, 45);
  right: 910px;
  z-index: 4;
  transform: translateX(0vw);
  transition-delay: 0.4s;
}
.repair-instr-column li {
  padding-left: 1rem;
}
.instrTypeHeader {
  font-family: 'Bebas Neue';
  font-size: 1.8rem;
  padding: 5em auto;
  margin-left: -1rem;
  /* color: rgb(146, 146, 146); */
  color: var(--accent-color);
  position: relative;
  margin: 2rem 0;
  white-space: nowrap;
}
@media screen and (max-width: 1300px) {
  .repair-instr-column.first.visible {
    right: 0px;
    z-index: 50;
  }
  .repair-instr-column.second.visible {
    right: 280px;
    z-index: 49;
  }
  .repair-instr-column.third.visible {
    right: 560px;
    z-index: 48;
  }
}
@media screen and (max-width: 900px) {
  .repair-instruments-container {
    display: block;
    right: 0px;
    height: 100%;
    background-color: rgb(35, 35, 35);
    max-width: 320px;
    position: fixed;
    z-index: 400;
    top: 0;
    float: right;
  }

  .repair-instr-column {
    width: 100%;
    padding-bottom: 0.7rem;
  }
  .repair-instr-column.first.visible {
    right: 0px;
    height: auto;
    background-color: transparent;
    position: relative;
  }
  .repair-instr-column.second.visible {
    right: 0px;
    height: auto;
    background-color: transparent;
    position: relative;
  }
  .repair-instr-column.third.visible {
    right: 0px;
    height: auto;
    background-color: transparent;
    position: relative;
  }
  .instrTypeHeader {
    font-size: 1.3rem;
    padding: 5em auto;
    margin-left: -1rem;

    position: relative;
    margin: 1rem 0;
    white-space: nowrap;
  }
}

/* Clear floats */
form.example::after {
  content: '';
  clear: both;
  display: table;
}

.slider-container {
  max-width: 300px;
  float: left;
}
.slider-container h5 {
  padding-top: 2rem;
  font-style: oblique;
}

.min-value {
  max-width: 49%;
  float: left;
}
.max-value {
  max-width: 49%;
  float: right;
}
.slider-value {
  height: 2rem;
  margin: 1rem 0rem;
}
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
/* Firefox */
input[type='number'] {
  -moz-appearance: textfield;
}

.nav.logo {
  width: 130px;
  height: auto;
  float: left;
  position: relative;
}
.nav.stamp {
  opacity: 15%;
  position: absolute;
  width: 200px;
  height: auto;
  top: 70vh;
  right: -20px;
  min-width: 200px;
  z-index: 44;
}

.list {
  list-style-type: none;
  padding: 0;
  padding-top: 6rem;
  cursor: pointer;
}
.list li {
  margin: 20px 0;
  color: #bebebe;
  font-size: 1.2rem;
}
.list li:hover {
  /* color: white; */
  color: var(--second-accent-color);
}
.instr-options-background {
  background-color: rgb(35, 35, 35);
  display: none;
  width: 100%;
  margin-top: 1rem;
  left: 0px;
  position: absolute;

  box-shadow: inset 0px 11px 8px -10px black, inset 0px -11px 8px -10px black;
  animation: showOptions 1s forwards;
  overflow: hidden;
}

.instr-options-background.active {
  display: flex;
}
.instr-options-container {
  animation: showOptions 1s forwards;
  display: none;
}
.instr-options-container.active {
  display: flex;
}
.instr-options-container li {
  list-style-type: none;

  padding-left: 3rem;
}
@keyframes showOptions {
  0% {
    height: 0px;
  }
  100% {
    height: 7rem;
  }
}

/* Title */
.hero {
  color: #222;
  font-family: 'Bebas Neue';
  font-size: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-top: 3rem;

  z-index: 2;
  position: relative;
}
.hero h1 {
  margin-top: 4rem;
  color: var(--accent-color);
}
.catchfrase {
  padding-bottom: 2rem;
  font-size: 1.3rem;
  color: var(--accent-color);
  letter-spacing: 2px;
}

/* catch fraze */
.first-step {
  position: relative;
  font-family: poppins;
  margin-left: 10px;
  font-size: 0.8rem;
}

/* panels */

.panel-background {
  background-color: white;
  top: 0rem;
  width: 100%;
  height: 30rem;
  z-index: 1;
  position: absolute;
  /* clip-path: polygon(0 0, 100% 1%, 100% 36%, 0 75%); */
  box-shadow: 2px 5px 4px 2px rgba(0, 0, 0, 0.6);
  animation: polygon 5s linear forwards;
}
/* @keyframes polygon {
	0% {
		clip-path: polygon(0 0, 100% 1%, 100% 36%, 0 75%);
	}
	100% {
		clip-path: polygon(0 0, 100% 1%, 100% 31%, 100% 83%, 3% 44%);
	} */
/* } */
.container-panel {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 90vw;
  margin: auto;
  z-index: 30;
}

.panel {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 20rem;
  border-radius: 15px;
  color: #fff;
  cursor: pointer;
  flex: 1;
  margin: 0.6rem;
  position: relative;
  transition: flex 0.7s ease-out;
  z-index: 1;
  box-shadow: 2px 5px 4px 2px rgba(0, 0, 0, 0.6);
}
.panel h3 {
  font-size: 0.9rem;
  position: absolute;
  bottom: 20px;
  left: 20px;
  margin: 0;
}
.panel.active {
  flex: 5;
}

/* quiz */
.quiz-container {
  margin: 1rem auto;
  width: 700px;
  background-color: rgb(35, 35, 35);
  padding: 2rem;
  border-radius: 15px;
  box-shadow: 2px 5px 4px 2px rgba(0, 0, 0, 0.6);
  animation: slide 0.5s ease-in-out forwards;
  position: relative;
}
.quiz-rules h2 {
  font-size: 3rem;
  color: rgb(82, 82, 82);
  font-family: 'bebas neue';
  position: relative;
}
.quiz-rules h4 {
  font-size: 1.5rem;
  color: #bababa;
  margin: 1rem;
}
.quiz-rules h5 {
  font-size: 1.2rem;
  font-style: italic;
  color: var(--second-accent-color);
  margin-top: 2rem;
}
.quiz-rules ul {
  list-style-type: none;
}
.quiz-rules li {
  padding: 0.6rem;
}
.questionCount {
  color: var(--second-accent-color);
  font-size: 1.7rem;
  font-weight: bold;
  padding: 2rem 0;
}
.quiz-timeout-bar {
  display: none;
}
.quiz-timeout-bar.active {
  width: 100%;
  top: 0rem;
  animation: timeoutGrow 15s linear forwards;
  transform-origin: left;
  border-radius: 50px;
  height: 5px;
  transform-origin: left;
  border-radius: 50px;
  display: flex;
}
@keyframes timeoutGrow {
  0% {
    transform: scaleX(0);
    background-color: #5e5e5e;
  }
  50% {
    background-color: #7c7c7c;
  }
  60% {
    background-color: orange;
  }
  100% {
    transform: scaleX(100%);
    background-color: red;
  }
}
#question {
  font-size: 1.2rem;
  color: #bababa;
  font-style: italic;
}

.question-btn-grid {
  display: grid;
  grid-template-columns: repeat(2, auto);
  gap: 10px;
  margin: 2rem 0;
}
.quiz-btn {
  margin: 0;
  border: 0;
  background-color: var(--accent-color);
  color: #fff;
  padding: 1rem;
  border-radius: 10px;
  margin: 1rem;
}
.answer-btn {
  background-color: rgb(60, 60, 60);
  padding: 1rem;
  margin: 0.5rem;
  border-radius: 10px;
  color: white;
}

.answer-btn:hover {
  background-color: rgb(70, 70, 70);
}
.answer-btn:focus {
  border: 1px solid #bababa;
}
.answer-btn.correct {
  border: 1px solid green;
}
.answer-btn.wrong {
  border: 1px solid red;
}
.quiz-btn:hover,
.quiz-btn:focus {
  background-color: var(--second-accent-color);
  color: black;
}
.hide {
  display: none;
}
.quiz-results {
  display: flex;
}
.left-results {
  width: 50%;
}
.left-results h4 {
  font-family: 'Bebas Neue';
  color: var(--accent-color);
  font-size: 3rem;
}
.left-results h5 {
  color: #bababa;
  padding: 0.8rem;
}
.right-results {
  width: 50%;

  align-items: center;
  justify-content: center;
  margin: auto;
}
.right-results h1 {
  font-family: 'Bebas Neue';

  animation: congrats 1s ease-in-out forwards;
  color: var(--second-accent-color);
}
@keyframes congrats {
  0% {
    font-size: 0px;
  }
  80% {
    font-size: 6rem;
  }
  100% {
    font-size: 5rem;
  }
}

/* slide */

.container-slide {
  background-color: rgb(35, 35, 35);
  background-size: cover;
  color: #fff;
  position: relative;
  margin: 1rem auto;
  width: 90vw;
  display: none;
  border-radius: 15px;
  justify-content: center;
  text-align: justify;
  box-shadow: 2px 5px 4px 2px rgba(0, 0, 0, 0.6);
  animation: slide 0.5s ease-in-out forwards;
}
@keyframes slide {
  from {
    top: -70rem;
    radius: 0px;
  }
  to {
    top: 1rem;
    border-radius: 15px;
  }
}
.slide-overlay {
  background: rgb(36, 36, 36);
  background: linear-gradient(
    0deg,
    rgba(128, 128, 128, 0) 0%,
    rgba(51, 51, 51, 0.5973739837731968) 36%,
    rgba(51, 51, 51, 0.8354692218684349) 66%,
    rgb(0, 0, 0) 100%
  );
  width: 100%;
  height: 18rem;
  position: absolute;
  z-index: 4;
  border-top-right-radius: 15px;
  border-top-left-radius: 15px;
}
.technician {
  position: absolute;
  border-radius: 50%;
  padding: 1.5rem;
  animation: pop 1s ease-in-out forwards;
  width: 140px;
  height: 140px;
  object-fit: cover;
  z-index: 4;
}
@keyframes pop {
  0% {
    height: 1rem;
    width: 1rem;
  }
  80% {
    height: 9rem;
    width: 9rem;
  }
  100% {
    height: 8rem;
    width: 8rem;
  }
}
.technician-name {
  z-index: 4;
  position: absolute;
  left: 7rem;
  top: 3rem;
}
.content-slide.repair {
  border-radius: 15px;
  text-align: justify;
  width: 100%;
  overflow: hidden;
  display: none;
  min-height: 100%;
}
.content-slide h3,
h4 {
  padding: 10px;
}

.repair-image {
  position: relative;
  min-width: 100%;
  box-shadow: 4px 8px 11px 9px rgba(0, 0, 0, 0.8);
  min-height: 80vh;
  object-fit: cover;
}
.repair-image.one {
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  animation: repairSlidesAnimation 0.6s forwards;
  z-index: 3;
}
.two {
  z-index: 2;
  display: none;
  animation: repairSlidesAnimation 0.4s forwards;
  position: relative;
}

.three {
  z-index: 0;
  display: none;
  animation: repairSlidesAnimation 0.4s forwards;
}

@keyframes repairSlidesAnimation {
  0% {
    top: -100%;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
  }
  80% {
    top: 5rem;
    width: 110%;
    height: 21rem;

    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
  }
  100% {
    height: 20rem;
    top: 0rem;
  }
}

/* leftSlide slides */

#avantaje {
  position: absolute;
  left: 25%;
  transform: translateX(-50%);
  font-family: 'Bebas Neue';
  font-size: 1.7rem;
  color: var(--second-accent-color);
  margin-top: 1rem;
}
#dezavantaje {
  position: absolute;
  right: 25%;
  transform: translateX(50%);
  font-family: 'Bebas Neue';
  font-size: 1.7rem;
  color: var(--second-accent-color);

  margin-top: 1rem;
}
.content-slide.buy-slide {
  text-align: justify;
  position: relative;
  width: 100vw;
  overflow: hidden;
  display: none;
  min-height: 100%;
}
.slide-banner-image {
  height: 18rem;
  width: 100%;
  object-fit: cover;
  margin: 0rem;
  left: 0;
  right: 0;
  top: 0;
  position: relative;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  box-shadow: 2px 5px 4px 2px rgba(0, 0, 0, 0.6);
  animation: bannerImageGrow 0.6s forwards;
}
@keyframes bannerImageGrow {
  0% {
    top: -100%;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
  }
  80% {
    top: 0;
    width: 110%;
    height: 30rem;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
  }
  100% {
    top: 0rem;
    width: 100%;
  }
}
.content-slide.buy > div {
  text-indent: 30px;
  margin: 1rem;
}
.advantages-disadvantages {
  display: flex;
  border-radius: 15px;
  grid-template-columns: 2;
  margin-top: 2rem;
  grid-template-rows: 1;
}

.advantages-list {
  width: 48%;
  float: left;
  left: 0px;
  margin-right: 2rem;
  padding: 1rem;
  text-align: left;
  text-indent: 0px;
  margin-top: 2rem;
}
.disadvantages-list {
  width: 48%;
  float: right;
  padding: 1rem;
  text-align: left;
  text-indent: 0px;
  margin-top: 2rem;
}
.seeInstrument {
  position: relative;
  float: right;
  background-color: rgba(51, 51, 51, 0.4);
  margin: 1rem;
  border: none;
  cursor: pointer;
  font-size: 1rem;
  padding: 0.7rem;
  outline: none;
  width: fit-content;
  border-radius: 6px;
  font-family: 'Bebas Neue';
  font-size: 1.1rem;
  color: rgb(255, 255, 255);
}
.seeInstrument:hover {
  /* background-color: rgb(60, 60, 60); */
  color: var(--second-accent-color);
}
.seeInstrument:focus {
  outline: none;
}

/* Faq */
.container-faq-header h1 {
  color: var(--accent-color);
  text-align: center;
}
.container-faq {
  position: relative;
  border-radius: 15px;
  background-color: rgb(24, 24, 24);
  width: 50rem;
  max-width: 80vw;
  margin: auto;
  animation: slide 0.5s ease-in-out forwards;
  display: none;
  box-shadow: 2px 5px 4px 2px rgba(0, 0, 0, 0.6);
}

.container-faq-header {
  margin: 0px;
  padding: 3rem;
}
.container-faq-body {
  padding: 1rem;
}

.faq.active {
  background-color: rgb(0, 0, 0);
  background-image: url(../resources/logo/faq-active-background-black.jpg);
  background-position: right;

  left: -1.5rem;
  right: -1.5rem;
  background-repeat: no-repeat;

  height: 100%;
  /* box-shadow: 0 3px 6px rgba(255, 255, 255, 0.1),
    0 3px 6px rgba(255, 255, 255, 0.1); */
  /* width: 85vw; */
  justify-content: center;
  align-items: center;
}
.faq {
  background-color: rgb(35, 35, 35);
  border-radius: 10px;
  color: rgb(168, 168, 168);
  margin: 7px 0;
  padding: 30px;
  overflow: hidden;
  transition: 0.3s ease;
  cursor: pointer;
}

.faq-text {
  display: none;
  margin: 30px 0 0;
}
.faq.active .faq-text {
  display: block;
}
/* CONTACT-FORM */
.form-container {
  flex-direction: column;
  background-color: rgb(35, 35, 35);
  width: 35rem;
  height: auto;
  border-radius: 15px;
  align-items: center;
  margin: 2rem auto;
  box-shadow: 2px 5px 4px 2px rgba(0, 0, 0, 0.6);
  padding: 1rem 0;
  animation: slide 0.5s ease-in-out forwards;
  position: relative;
  display: none;
  margin-bottom: 10rem;
}
.form-container.buying {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  margin-top: 75rem;
}
#form {
  width: 90%;
}
.form {
  height: 65px;
}

.info {
  position: relative;
  left: -5%;
  padding: 1rem;
}
.info h2 {
  color: #d8d8d8;
  font-size: 20px;
}
.contact {
  font-style: italic;
  color: rgb(224, 224, 224);
  padding: 4px 0;
}

.info h4 {
  padding: 4px;
  color: rgb(82, 82, 82);
}
.info h3 {
  padding: 6px;
  color: #bebebe;
}

label {
  position: relative;
  bottom: 3px;
}
input {
  width: 100%;
  height: 3.5rem;
  border-style: hidden;
  border-radius: 10px;
  background-color: rgb(60, 60, 60);
  color: white;
  outline: none;
  transform: all 0.3s;
}
input:focus {
  background-color: rgb(43, 43, 43);
}
input::after {
  background-color: rgb(0, 255, 115);

  color: rgb(247, 0, 255);
}
input:invalid:focus {
  border: 1px solid red;
}
input:valid {
  border: 1px transparent;
}
.contact-button {
  cursor: pointer;
  color: white;
  font-size: 1.2rem;
  font-weight: bold;
  background-color: var(--accent-color);
  border: none;
  border-radius: 10px;
  width: 100%;
  height: 3rem;
  margin-top: 2rem;
  margin-bottom: 2rem;
}
.contact-button:hover {
  filter: brightness('200%');
  color: rgb(35, 35, 35);
  background: var(--second-accent-color);
}
.contact-button:focus {
  outline: none;
}
::placeholder {
  color: #bababa;
  padding-left: 5px;
  font-style: italic;
}
.message-container {
  border: 1px solid #bebebe;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  width: 90%;
  height: 5rem;
  position: absolute;
  bottom: 10rem;
  padding: 20px;
  background-color: rgb(35, 35, 35);
  border-top: 0px;
  box-shadow: inset 2px 11px 5px -4px rgba(0, 0, 0, 0.57);
  display: flex;
  align-items: center;
  justify-content: center;
  text-transform: uppercase;
  white-space: nowrap;
  font-size: 14px;
  left: 50%;
  transform: translateX(-50%);
  display: none;
  z-index: -1;
}
.message-container.active {
  bottom: -5rem;
  display: flex;
  animation: showMessage 0.5s ease-in-out forwards;
}
@keyframes showMessage {
  0% {
    display: none;
    bottom: 10rem;
  }
  100% {
    display: flex;
    bottom: -5rem;
  }
}
/*  */
/* checkout form */
/*  */
.container-for-checkout-fontainer {
  /* padding-bottom: 50rem; */
}

.row {
  display: flex;
  flex-wrap: wrap;
}

.column {
  flex: 50%;
  padding-right: 1rem;
}
.column.small {
  padding-right: 0px;
}
.column.small.gap {
  padding-left: 0.5rem;
}

.total {
  padding-top: 2rem;
  padding-left: 11rem;
  display: flex;
  align-items: center;
  color: #bababa;
  white-space: nowrap;
  /* background-color: red; */
}
.total h3 {
  font-size: 2.5rem;
}
.total h4 {
  font-size: 2rem;
  color: var(--second-accent-color);
}

.checkout-form-container {
  background-color: rgb(35, 35, 35);
  padding: 5px 20px 15px 20px;
  width: 70vw;
  left: 50%;
  transform: translateX(-50%);
  padding: 1rem;
  padding-top: 2rem;
  border-radius: 15px;
  display: none;
  box-shadow: 2px 5px 4px 2px rgba(0, 0, 0, 0.6);
  animation: slide 0.5s ease-in-out forwards;
  position: absolute;
  margin-top: 79rem;
  margin-bottom: 50rem;
}

.checkout-form-container input {
  margin: 5px;
}
.checkout-form-container h3 {
  padding: 1rem;
}

.checkout-btn {
  background-color: var(--accent-color);
  color: white;
  padding: 12px;
  margin: 10px 0;
  border: none;
  width: 100%;
  border-radius: 3px;
  cursor: pointer;
  font-size: 17px;
  font-weight: bold;
}

.checkout-btn:hover {
  filter: brightness('200%');
  color: rgb(35, 35, 35);
  background: var(--second-accent-color);
}
.other-address {
  display: none;
}

/* AboutUs */
.aboutUs-container {
  width: 90vw;
  height: 80vh;
  border-radius: 15px;
  position: relative;
  margin: 2rem auto;

  overflow: hidden;
  display: none;
  animation: slide 0.5s ease-in-out forwards;
}
.left-slide {
  height: 100%;
  width: 35%;
  position: absolute;
  top: 0;
  left: 0;
  transition: transform 0.5s ease-in-out;
}

.visum-left {
  background-image: linear-gradient(to bottom right, #160807, #221344);
}

.misso-left {
  background-image: linear-gradient(to bottom right, #381d17, #2b233a);
}

.doctrina-left {
  background-image: linear-gradient(to bottom right, #24130f, #683a28);
}
.sumus-left {
  background-image: linear-gradient(to bottom right, #000000, #6d6a63);
}

.left-slide > div {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-style: oblique;
  color: #d3d0d0;
  box-shadow: 10px 0px 6px 0px rgba(0, 0, 0, 0.6);
}
.left-slide h1 {
  font-size: 1.4rem;
  margin-top: -2rem;
}
.right-slide h1 {
  font-size: 1.3rem;
  margin-top: -2rem;
  color: white;
}
.content-slide p {
  padding: 1rem;
}
.sumus {
  text-indent: 30px;
  padding: 4rem;
  text-align: justify;
}
.right-slide {
  height: 100%;
  position: absolute;
  top: 0;
  left: 35%;
  width: 65%;
  transition: transform 0.5s ease-in-out;
  z-index: -11;
}
.right-slide > div {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-style: oblique;
  color: #d3d0d0;
}
.visum-right {
  background-image: url(../resources/about-us/viziunea.jpg);
}
.misso-right {
  background-image: url(../resources/about-us/misiunea.jpg);
}
.doctrina-right {
  background-image: url(../resources/about-us/valori.jpg);
}
.sumus-right {
  background-image: url(../resources/about-us/despre.jpg);
}
.action-buttons button {
  position: absolute;
  left: 35%;
  top: 75%;
  z-index: 100;
  background-color: rgba(51, 51, 51, 0.4);
  color: #fff;
  border: none;
  cursor: pointer;
  font-size: 1rem;
  padding: 1rem;
}
.action-buttons button:hover {
  /* color: #a3a3a3; */
  color: var(--second-accent-color);
}
.action-buttons button:focus {
  outline: none;
}

.action-buttons .down-button {
  transform: translateX(-100%);
  border-top-left-radius: 6px;
  border-bottom-left-radius: 6px;
}

/* news */

.card-container {
  margin: 2rem auto;
  max-width: 80%;
  height: auto;
  position: relative;
  animation: slide 0.5s ease-in-out forwards;
  display: none;
}
.card {
  margin: 1rem auto;
  background-color: rgb(24 24 24);
  border-radius: 15px;
  padding: 1rem;
  box-shadow: 2px 5px 4px 2px rgba(0, 0, 0, 0.6);
}
.card-content {
  text-indent: 30px;
  text-align: justify;
}
.card-content h5 {
  padding: 5px;
}

/* instruments */

.order-by-container {
  margin: 2rem;
  right: 0px;
  padding-bottom: 5rem;
  display: none;
  white-space: nowrap;
}

.order-by-container ul {
  color: #bababa;
  background-color: rgba(12, 12, 12, 0.2);
  /* border-top-left-radius: 10px; */
  border-bottom-left-radius: 10px;
  display: flex;
  float: right;
  transform: translateX(20px);
  height: 3rem;
  box-shadow: 0px 4px 5px 4px rgba(0, 0, 0, 0.2);
}
.order-by-container ul li {
  margin: 1rem;
  list-style-type: none;
  cursor: pointer;
}
.order-by-container li:hover {
  /* color: #fff; */
  color: var(--second-accent-color);
}

.grid {
  width: 90vw;
  margin: 1rem auto;
  position: relative;
  grid-gap: 1rem;
  display: none;
  grid-template-columns: repeat(auto-fill, minmax(22rem, 1fr));
  justify-content: center;
}
.box {
  background-color: rgb(35, 35, 35);
  border-radius: 15px;
  border-radius: 15px;
  box-shadow: 2px 5px 4px 2px rgba(0, 0, 0, 0.6);
  overflow: hidden;
  cursor: pointer;
}

.instrument-image {
  width: 100%;
  position: absolute;
  height: 20rem;
  overflow: hidden;
  object-fit: cover;
  position: relative;
  float: left;
  box-shadow: 0px 6px 6px 2px rgba(0, 0, 0, 0.4);
  margin-bottom: 1rem;
}
.instrument-image > div {
  width: 30%;
  height: 1rem;
  background-color: red;
  float: right;
  position: absolute;
}

.discount-text {
  background-color: red;
  color: rgb(37, 37, 37);
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
  float: right;
  box-shadow: -4px 4px 6px 0px rgba(0, 0, 0, 0.7);

  padding: 1px 5px;
  position: relative;
  font-size: 1.5rem;
  top: -25%;
}

.box.active {
  top: -34rem;
  position: absolute;
  width: 35%;
  height: 32rem;
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
  box-shadow: 10px 0px 5px rgba(0, 0, 0, 0.6);
  z-index: 2;
}
.box.active > img {
  height: 14rem;
}
.price {
  font-family: 'Bebas Neue';
  font-size: 2rem;
  color: #bababa;
  margin-top: 5px;
  padding-left: 1.5rem;
}
.price s {
  color: #5e5e5e;
  margin-right: 1rem;
}
.instrument-description {
  margin-left: 1rem;
  padding: 10px;
}

/* INSTRUMENT PICTURE SLIDE*/
.instrument-picture-container {
  top: -34rem;
  right: 0px;
  display: none;
  align-items: center;
  justify-content: center;
  width: 65%;
  position: absolute;
  z-index: 1;
}

.instrumnet-image-slider {
  box-shadow: 0px 6px 6px 2px rgba(0, 0, 0, 0.4);
  min-width: 100%;
  height: 32rem;
  overflow: hidden;
  border-bottom-right-radius: 15px;
  border-top-right-radius: 15px;
}
.image-slider-container {
  display: flex;
  overflow: hidden;
  flex-direction: column;
  transform: translateY(0);
  transition: transform 0.5s ease-in-out;
}
.image-slider-container img {
  height: 80vh;
  object-fit: cover;
}

.slider-buttons:hover {
  /* color: #a3a3a3; */
  color: var(--second-accent-color);
}
.slider-buttons:focus {
  outline: none;
}

.fa-arrow-up {
  position: absolute;
  top: 75%;
  z-index: 100;
  background-color: rgba(51, 51, 51, 0.4);
  color: rgb(255, 255, 255);
  border: none;
  cursor: pointer;
  font-size: 1rem;
  padding: 1rem;
  outline: none;
  left: 0rem;
  border-bottom-right-radius: 6px;
  border-top-right-radius: 6px;
}
.buy {
  position: absolute;
  bottom: 1rem;
  right: 1rem;
  z-index: 100;
  background-color: rgba(51, 51, 51, 0.4);
  color: rgb(255, 255, 255);
  border: none;
  cursor: pointer;
  font-size: 1rem;
  padding: 0.7rem;
  outline: none;
  width: fit-content;
  border-radius: 6px;
  font-family: 'Bebas Neue';
  font-size: 1.2rem;
  color: rgb(255, 255, 255);
}
#buy:hover {
  /* color: #a3a3a3; */
  color: var(--second-accent-color);
}
#buy:focus {
  outline: none;
}

/* TESTIMONIALS */

.testimonial-container {
  background-color: rgb(35, 35, 35);
  color: white;
  border-radius: 15px;
  margin: 4rem auto;
  padding: 3rem 4rem;
  width: 50rem;
  max-width: 90vw;
  position: relative;
  box-shadow: 2px 5px 4px 2px rgba(0, 0, 0, 0.6);
}
.testimonial-container.buy-form {
  top: 15rem;
  margin-bottom: 40vh;
}
.fa-quote {
  color: var(--accent-color);
  font-size: 1.3rem;
  position: absolute;
}
.fa-quote-right {
  left: 2rem;
  bottom: 5rem;
}
.fa-quote-left {
  right: 2rem;
  top: 4rem;
}
.testimonial {
  text-indent: 30px;
  margin-top: 2rem;
  line-height: 2rem;
  text-align: justify;
  font-style: italic;
}
.user {
  display: flex;
  position: relative;
  align-items: center;
  justify-content: flex-end;
}
.user-image {
  border-radius: 50%;
  height: 5rem;
}
.user-details {
  margin-left: 1rem;
}
.progress-bar {
  background-color: var(--accent-color);
  height: 5px;
  width: 100%;
  top: 0rem;
  animation: grow 10s ease-in-out infinite;
  transform-origin: left;
  border-radius: 50px;
}
@keyframes grow {
  0% {
    transform: scaleX(0);
  }
}
/* fixes for small screns */

@media screen and (max-width: 800px) {
  * {
    font-size: 15px;
  }

  .landingPage-container {
    position: fixed;
    width: 100vw;
    height: 100vh;
    background: transparent;
    z-index: 100;
    overflow: hidden;
  }
  @keyframes hideLandingContainer {
    0% {
      top: 0px;
    }
    70% {
      top: 0;
    }

    100% {
      top: -1000%;
    }
  }

  .split h1 {
    font-size: 1.5rem;
  }
  .landingPage-container button {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    left: 50%;
    top: 40%;
    transform: translateX(-50%);
    background-color: rgba(31, 31, 31, 0.4);
    border-radius: 15px;
    border: none;
    font-size: 0.4em;

    padding: 1.2rem;
    cursor: pointer;
  }
  .landingPage-container button a {
    text-decoration: none;
    color: #bababa;
    font-weight: bolder;
  }

  .split {
    position: absolute;
    width: 100%;
    height: 50%;
    overflow: hidden;
  }
  .left {
    background-image: url(../resources/splitLandingPage/landingPage-Left.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    right: 0px;
    left: 0px;
    top: 0px;
    box-shadow: 0px 15px 20px 0px rgba(0, 0, 0, 0.67);
  }
  @keyframes leftHide {
    0% {
      top: 0px;
    }
    100% {
      top: -100%;
    }
  }
  .right {
    bottom: 0px;
    left: 0px;
    background-image: url(../resources/splitLandingPage/landingPage-Right.jpg);
    background-repeat: no-repeat;
    background-size: cover;
  }
  @keyframes rightHide {
    0% {
      bottom: 0px;
    }
    100% {
      bottom: -100%;
    }
  }
  .hover-left .left {
    box-shadow: 0px 15px 20px 0px rgba(0, 0, 0, 0.67);
    height: 65%;
    width: 100%;
    z-index: 101;
  }
  .hover-left .right {
    height: 35%;
    width: 100%;
  }
  .hover-right .right {
    box-shadow: 0px -21px 14px -10px rgba(0, 0, 0, 0.67);
    height: 65%;
    width: 100%;
    z-index: 101;
  }
  .hover-right .left {
    height: 35%;
    width: 100%;
  }
  .split.right,
  .split.left,
  .split.right:before,
  .split.left:before {
    transition: height 0.8s ease-in-out;
  }

  .hero h1 {
    font-size: 4rem;
  }
  .panel:nth-of-type(7),
  .panel:nth-of-type(6) {
    display: none;
  }
  .container-slide {
    width: 96%;
  }
  .filter-tab {
    right: 0px;
  }
  .filter-tab.visible {
    z-index: 400;
  }
  .intro-pic {
    width: 100%;
  }

  .aboutUs-container {
    width: 96vw;
    height: 50vh;
  }
  .sumus {
    font-size: 0.9rem;
    padding-top: 3rem;
    padding: 2rem;
    text-align: justify;
  }
  .left-slide h1 {
    font-size: 1rem;
    margin-top: -2rem;
  }
  .right-slide h1 {
    font-size: 1rem;
    margin-top: -2rem;
    color: white;
  }
  .action-buttons button {
    position: absolute;
    left: 35%;
    top: 84%;
    z-index: 100;
    background-color: #333;
    color: #fff;
    border: none;
    cursor: pointer;
    font-size: 1rem;
    padding: 1rem;
  }
  .action-buttons button {
    font-size: 0.7rem;
    padding: 0.5rem;
  }
  .row {
    flex-direction: column-reverse;
  }
  .grid {
    width: 96vw;
  }

  .box.active {
    top: -46rem;
    position: absolute;
    min-width: 100%;
    height: 15rem;
    border-top-right-radius: 15px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
    box-shadow: 0px 6px 6px 2px rgba(0, 0, 0, 0.8);
    z-index: 2;
  }
  .price {
    padding-top: 1rem;
  }
  .box.active > img {
    display: none;
  }

  /* INSTRUMENT PICTURE SLIDE*/
  .instrument-picture-container {
    top: -34rem;
    right: 0px;
    display: none;
    align-items: center;
    justify-content: center;
    width: 100%;
    position: absolute;
  }

  .instrumnet-image-slider {
    box-shadow: 0px 6px 6px 2px rgba(0, 0, 0, 0.4);
    min-width: 100%;
    height: 32rem;
    overflow: hidden;

    border-top-right-radius: 15px;
    border-bottom-left-radius: 15px;
  }
  .image-slider-container {
    display: flex;
    overflow: hidden;
    flex-direction: column;
    transform: translateY(0);
    transition: transform 0.5s ease-in-out;
  }
  .image-slider-container img {
    height: 80vh;
    object-fit: cover;
  }

  .slider-buttons:hover {
    /* color: #a3a3a3; */
    color: var(--second-accent-color);
  }
  .slider-buttons:focus {
    outline: none;
  }

  .fa-arrow-up {
    position: absolute;
    top: 65%;
    z-index: 100;
    background-color: rgba(51, 51, 51, 0.4);
    color: rgb(255, 255, 255);
    border: none;
    cursor: pointer;
    font-size: 1rem;
    padding: 1rem;
    outline: none;
    right: 0rem;
    left: auto;
    border-bottom-left-radius: 6px;
    border-top-left-radius: 6px;
    border-bottom-right-radius: 0px;
    border-top-right-radius: 0px;
  }

  /* checkout form */

  .row {
    flex-direction: column;
  }
  .column.small.gap {
    padding-left: 0rem;
  }

  .checkout-form-container {
    background-color: rgb(35, 35, 35);
    z-index: 2;
    width: 96vw;
    white-space: nowrap;
    margin-top: 90rem;
  }
  .checkout-form-container input {
    position: relative;
  }
}
@media screen and (max-width: 500px) {
  body {
    font-size: 12px;
  }
  .container-panel {
    width: 100vw;
  }
  .panel {
    height: 40vh;
  }
  .panel:nth-of-type(7),
  .panel:nth-of-type(6),
  .panel:nth-of-type(5) {
    display: none;
  }

  .panel h3 {
    display: none;
  }
  .container-faq {
    max-width: 96vw;
  }
  .slide {
    width: 96vw;
  }
  .form-container {
    width: 96vw;
  }
  .info {
    left: 0;
  }
  .testimonial-container {
    min-width: 96vw;
  }
  .catchfrase {
    font-size: 1.3rem;
  }
  .first-step {
    margin-left: 5px;
    font-size: 0.6rem;
  }
  .slider-container {
    font-size: 16px;
    max-width: 250px;
    float: left;
  }
  .checkout-form-container {
    margin-top: 93rem;
  }
}

/* slider-config */
.noUi-connect {
  background: rgb(60, 60, 60);
}
.noUi-horizontal .noUi-handle,
.noUi-vertical .noUi-handle {
  box-shadow: 2px 5px 4px 2px rgba(0, 0, 0, 0.6);
  background: var(--accent-color);
  border-radius: 50%;
  width: 20px;
  height: 20px;
}
.noUi-active {
  outline: color;
}
.noUi-handle:focus {
  outline: none;
}

.noUi-handle:hover {
  color: var(--second-accent-color);
}

body {
  margin: 0;
  padding: 0;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #e5e5e5;
}

.middle {
  position: relative;
  width: 50%;
  max-width: 500px;
}

.slider {
  position: relative;
  z-index: 1;
  height: 10px;
  margin: 0 15px;
}
.slider > .track {
  position: absolute;
  z-index: 1;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  border-radius: 5px;
  background-color: #c6aee7;
}
.slider > .range {
  position: absolute;
  z-index: 2;
  left: 25%;
  right: 25%;
  top: 0;
  bottom: 0;
  border-radius: 5px;
  background-color: #6200ee;
}
.slider > .thumb {
  position: absolute;
  z-index: 3;
  width: 30px;
  height: 30px;
  background-color: #6200ee;
  border-radius: 50%;
  box-shadow: 0 0 0 0 rgba(98, 0, 238, 0.1);
  transition: box-shadow 0.3s ease-in-out;
}
.slider > .thumb.left {
  left: 25%;
  transform: translate(-15px, -10px);
}
.slider > .thumb.right {
  right: 25%;
  transform: translate(15px, -10px);
}
.slider > .thumb.hover {
  box-shadow: 0 0 0 20px rgba(98, 0, 238, 0.1);
}
.slider > .thumb.active {
  box-shadow: 0 0 0 40px rgba(98, 0, 238, 0.2);
}

input[type='range'] {
  position: absolute;
  pointer-events: none;
  -webkit-appearance: none;
  z-index: 2;
  height: 10px;
  width: 100%;
  opacity: 0;
}
input[type='range']::-webkit-slider-thumb {
  pointer-events: all;
  width: 30px;
  height: 30px;
  border-radius: 0;
  border: 0 none;
  background-color: red;
  -webkit-appearance: none;
}

.youtube-link {
  position: fixed;
  left: 20px;
  bottom: 20px;
  color: #000;
  text-decoration: none;
  font-size: 12px;
}
