* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: Roboto, sans-serif;
  color: rgb(255, 255, 255);
  bottom: 0rem;
  right: 0rem;
  background-color: rgb(255, 255, 255);

  margin: 0;
  display: flex;
}

/* intro */

/* ! slide comented for ease of testing */
/* .container-intro {
  display: block;
  max-width: 100vw;
  max-height: 100vh;
}
.intro {
  background-origin: border-box;
  display: flex;
  background: black;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  justify-content: center;
  align-items: center;
  animation: slideUp 2.4s ease-in forwards;
  z-index: 400;
}
@keyframes slideUp {
  0% {
    top: 0px;
  }
  75% {
    transform: translateY(0);
  }

  100% {
    transform: translateY(-550%);
  }
}
.intro-picture {
  background: cover;

  background-color: black;

  animation: fadein 1s ease-in forwards;

  z-index: 500;
}
@keyframes fadein {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.slider {
  background-color: #bebebe;
  background-size: 100%;
  background-repeat: no-repeat;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 502;
  bottom: 0px;
  animation: slideUpSlide 3s ease-in-out forwards;
}
@keyframes slideUpSlide {
  0% {
    transform: translateY(100%);
  }
  40% {
    transform: translateY(100%);
  }

  100% {
    transform: translateY(-500%);
  }
} */

/* pagina */
.container {
  top: 0%;
  position: relative;
  background-color: #333;
  width: 100vw;
  min-height: 100%;
  z-index: 3;
}

/* Nav bar */

.nav-container {
  position: fixed;
  background-color: rgba(0, 0, 0, 0.8);
  top: 0;
  left: 0;
  right: 0;
  padding: 0;
  z-index: 3;
}

.nav-container .logo {
  position: relative;
  /* margin-top: 0.3rem; */
  left: 3rem;
}

.nav-bar {
  max-width: 100vw;
  margin: 0 auto;
  position: relative;
}
.nav-bar button {
  position: absolute;
  top: 1rem;
  right: 1rem;
  background: transparent;
  border: 0;
  font-size: 1.5rem;
  color: white;
  cursor: pointer;
}
.nav {
  position: fixed;
  top: 0rem;
  right: 0;
  height: 100vh;
  transform: translateX(100vw);
  transition: transform 0.2s ease-in-out;
  float: right;
  z-index: 40;
}
.nav.visible {
  transform: translateX(0vw);
}
.nav-white {
  background-color: #bebebe;
  width: 350px;
  transition-delay: 0.4s;
  border-radius: 2px;
}
.nav-white.visible {
  transition-delay: 0s;
}
.nav-gray {
  background-color: rgb(82, 82, 82);
  width: 330px;
  transition-delay: 0.2s;
  border-radius: 2px;
}
.nav-gray.visible {
  transition-delay: 0.2s;
}
.nav-background {
  background-image: url(../resources/nav-background/black-texture-954.jpg);
  /* background-color: rgb(24, 24, 24); */
  background-size: cover;
  background-repeat: repeat-x;
  background-position: center;
  width: 315px;
  padding: 40px;
  position: relative;
  transition-delay: 0s;
  border-radius: 2px;
}
.nav-background.visible {
  transition-delay: 0.4s;
}
.nav.logo {
  width: 130px;
  height: auto;
  float: left;
  position: relative;
}
.nav.stamp {
  opacity: 15%;
  position: absolute;
  width: 200px;
  height: auto;
  top: 70vh;
  right: -20px;
  min-width: 200px;
  z-index: 44;
}

.list {
  list-style-type: none;
  padding: 0;
  padding-top: 6rem;
  cursor: pointer;
}
.list li {
  margin: 20px 0;
  color: #bebebe;
  font-size: 1.2rem;
  /* text-transform: uppercase; */
}
.list li:hover {
  color: white;
}

/* Title */
.hero {
  color: #222;
  font-family: "Bebas Neue";
  font-size: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-top: 3rem;
  margin-bottom: 1rem;
  z-index: 2;
  position: relative;
}
.hero h1 {
  margin-top: 4rem;
  /* margin-bottom: 1rem; */
}
.catchfrase {
  font-style: oblique;
  font-size: 2rem;
}

/* catch fraze */
.first-step {
  text-align: left;
  font-size: 0.8rem;
  padding: 2px;
}

/* panels */

.panel-background {
  background-color: white;
  top: 0rem;
  width: 100%;
  height: 27rem;
  z-index: 1;
  position: absolute;
}
.container-panel {
  padding-top: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 90vw;
  margin: auto;
  z-index: 30;
}

.panel {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 40vh;
  border-radius: 15px;
  color: #fff;
  cursor: pointer;
  flex: 1;
  margin: 10px;
  position: relative;
  transition: flex 0.7s ease-out;
  z-index: 1;
  box-shadow: 2px 5px 4px 2px rgba(0, 0, 0, 0.6);
}
.panel h3 {
  font-size: 0.5rem;
  position: absolute;
  bottom: 20px;
  left: 20px;
  margin: 0;
}
.panel.active {
  flex: 5;
}

/* slide */

.slide {
  background-color: rgb(24 24 24);
  background-size: cover;
  color: #fff;
  position: relative;
  margin: 1rem auto;
  width: 80vw;
  display: none;
  border-radius: 15px;
  justify-content: center;
  text-align: justify;
  animation-name: slide;
  animation: slide 0.5s ease-in-out forwards;

  box-shadow: 2px 5px 4px 2px rgba(0, 0, 0, 0.6);
}
@keyframes slide {
  from {
    top: -70rem;
    radius: 0px;
  }
  to {
    top: 1rem;
    border-radius: 15px;
  }
}
.tec-pannel {
  position: relative;
  border-radius: 50%;
  padding: 1.5rem;
  animation: pop 1s ease-in-out forwards;
}
@keyframes pop {
  0% {
    width: 1rem;
    height: auto;
  }
  80% {
    width: 9rem;
    height: auto;
  }
  100% {
    width: 8rem;
    height: auto;
  }
}
.content-slide {
  text-align: justify;
  position: relative;
  width: 90vw;
  overflow: hidden;
  margin: 1rem;
  display: none;
  min-height: 100%;
}
.slide-img {
  width: 100%;
  position: relative;
}

/* TESTIMONIALS */

.testimonial-container {
  background-color: rgb(24, 24, 24);
  color: white;
  border-radius: 15px;
  margin: 4rem auto;
  padding: 3rem 4rem;
  width: 50rem;
  max-width: 90vw;
  position: relative;
  box-shadow: 2px 5px 4px 2px rgba(0, 0, 0, 0.6);
}
.fa-quote {
  color: rgb(70, 70, 70);
  font-size: 1.3rem;
  position: absolute;
}
.fa-quote-right {
  left: 2rem;
  bottom: 5rem;
}
.fa-quote-left {
  right: 2rem;
  top: 4rem;
}
.testimonial {
  margin-top: 2rem;
  line-height: 2rem;
  text-align: justify;
  font-style: italic;
}
.user {
  display: flex;
  position: relative;
  align-items: center;
  justify-content: flex-end;
}
.user-image {
  border-radius: 50%;
  height: 5rem;
}
.user-details {
  margin-left: 1rem;
}
.progress-bar {
  background-color: rgb(92, 92, 92);
  height: 5px;
  width: 100%;
  top: 0rem;
  animation: grow 10s linear infinite;
  transform-origin: left;
}
@keyframes grow {
  0% {
    transform: scaleX(0);
  }
}
/* Faq */
h1 {
  color: #666;
  text-align: center;
}
.container-faq {
  position: relative;
  border-radius: 15px;
  background-color: rgb(24, 24, 24);
  width: 50rem;
  max-width: 80vw;
  margin: auto;
  animation: slide 0.5s ease-in-out forwards;
  display: none;
  box-shadow: 2px 5px 4px 2px rgba(0, 0, 0, 0.6);
}

.container-faq-header {
  margin: 0px;
  padding: 3rem;
}
.container-faq-body {
  padding: 1rem;
}

.faq.active {
  background-color: rgb(0, 0, 0);
  background-image: url(../resources/logo/faq-active-background-black.jpg);
  background-position: right;

  left: -1.5rem;
  right: -1.5rem;
  background-repeat: no-repeat;

  height: 100%;
  /* box-shadow: 0 3px 6px rgba(255, 255, 255, 0.1),
    0 3px 6px rgba(255, 255, 255, 0.1); */
  /* width: 85vw; */
  justify-content: center;
  align-items: center;
}
.faq {
  background-color: rgb(35, 35, 35);
  border-radius: 10px;
  color: rgb(168, 168, 168);
  margin: 7px 0;
  padding: 30px;
  overflow: hidden;
  transition: 0.3s ease;
  cursor: pointer;
}

.faq-text {
  display: none;
  margin: 30px 0 0;
}
.faq.active .faq-text {
  display: block;
}
/* CONTACT-FORM */
.form-container {
  display: flex;
  flex-direction: column;
  background: rgb(24, 24, 24);
  width: 35rem;
  height: auto;
  border-radius: 15px;
  align-items: center;
  margin: 2rem auto;
  box-shadow: 2px 5px 4px 2px rgba(0, 0, 0, 0.6);
  padding: 1rem 0;
  display: none;
}
form {
  width: 90%;
}
.form {
  height: 65px;
}

.info {
  position: relative;
  left: -5%;
  padding: 1rem;
}
.info h2 {
  color: #d8d8d8;
  font-size: 20px;
}
.contacteaza {
  font-style: italic;
  color: rgb(224, 224, 224);
  padding: 4px 0;
}

.info h4 {
  padding: 4px;
  color: rgb(82, 82, 82);
}
.info h3 {
  padding: 6px;
  color: #bebebe;
}

label {
  position: relative;
  bottom: 3px;
}
input {
  width: 100%;
  height: 3.5rem;
  border-style: hidden;
  border-radius: 10px;
  background-color: rgb(35, 35, 35);
  color: white;
  outline: none;
  transform: all 0.3s;
}
input:focus {
  background-color: rgb(43, 43, 43);
}
input:invalid:focus {
  border: 1px solid red;
}
input:valid {
  border: 1px transparent;
}
.contact-button {
  cursor: pointer;
  color: rgb(24, 24, 24);
  font-size: 1.2rem;
  font-weight: bold;
  background-color: #bebebe;
  border: none;
  border-radius: 10px;
  width: 100%;
  height: 3rem;
  margin-top: 2rem;
  margin-bottom: 2rem;
}
button:hover {
  filter: brightness("200%");
  background: #d8d8d8;
}
button:focus {
  outline: none;
}
::placeholder {
  color: white;

  font-style: italic;
}
.message-container {
  border: 1px solid #bebebe;
  border-radius: 10px;
  width: 90%;
  height: 4rem;
  align-items: center;
  justify-content: center;
  display: flex;
  padding: 20px;
}
@media screen and (max-width: 480px) {
  body {
    font-size: 12px;
  }
  .container-panel {
    width: 100vw;
  }
  .panel {
    height: 40vh;
  }
  .panel:nth-of-type(7),
  .panel:nth-of-type(6),
  .panel:nth-of-type(5) {
    display: none;
  }

  .panel h3 {
    display: none;
  }
  .container-faq {
    max-width: 96vw;
  }
  .slide {
    width: 96vw;
  }
  .form-container {
    width: 96vw;
  }
  .info {
    left: 0;
  }
  .testimonial-container {
    min-width: 96vw;
  }
  .catchfrase {
    font-size: 1.3rem;
  }
}
